<h1>Course Info</h1>
<br>
Class Name:
<br>
 <%= @userscourses.course.name%>
<br>
<br>
Class Info: 
<br>
<%= @userscourses.course.description%>
<br>
<br>
<%= link_to "Create Project and/or Assignment", new_userscourse_project_path%>
<br>
<%= link_to "Drop Course",  userscourse_path(@userscourses), method: :destroy%>
