<h1>Courses: </h1>
    <% @course.each do |course|%>
            <li><%= link_to course.name, category_course_path(@category, course)%></li>
        <%end%>
    <br>
    <br>

    <%= link_to "Join a new course", categories_path%>

