
    <h1>Class name: </h1>
    <br><%= @course.name%>
    <br>
    <br>
    <h1>Class description:</h1><br>
    <%= @course.description%>
<br>
<br>
    <%# <%= link_to "Join Class", new_category_course_path %> %>