/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
 
 *
 {
     box-sizing: border-box;
     margin: 0;
     background-color: #24252A;
 }

 body
 {
    width: 90%;
    margin: 0 auto;
 }

 li, a
 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
    overflow: hidden;
    padding: 10px;
    display: inline;

 }

 li, a:hover
 {
    color: yellow;
 }

 header 
 {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 10px 5%;
 }
h1
{
    font-family: 'Oswald', sans-serif;
    color: yellow;
    font-weight: 500;
    padding: 10px;
}

h3
{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 500;
    padding: 10px;
}

input[type=text]
{
    padding: 5px;
    border: none;
    border-bottom: 2px solid yellow;
    color: #edf0f1;

    font-size: 20px;
}

input[type=submit]
{
    background-color: white;
    border-radius: 5px;
    font-size: 15px;

}
p
{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    color: lightskyblue;
}

