<h1>Welcome to Art Class</h1>

<br>
<h3><%= link_to "View Courses", courses_path%></h3>

<br>

<h3><%= link_to "View Projects and Assignments", projects_path%></h3>
<br>
<h3><% link_to "Join New Class", categories_path%></h3>