<h1>Welcome to the School Domain</h1>

<br>
<h3><%= link_to "View my courses",  userscourses_path%></h3>
<br>
<h3><%= link_to "Browse Categories", categories_path%></h3>
<br>

<h3><%= link_to "View Projects and Assignments",  projects_path%></h3>
